<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="https://jakarta.ee/xml/ns/jakartaee" 
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="6.0">
	
  <display-name>SavageScribe</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <!-- IP WIFI 172.20.240.1 -->
  <!-- IP CAVO -->
    <servlet>
		<description></description>
		<display-name>UtentiServlet</display-name>
		<servlet-name>UtentiServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servletdb.servlet.UtentiServlet</servlet-class>
		<init-param>
			<param-name>ip</param-name>
			<param-value>172.20.240.1</param-value>
			<!--<param-value>100.102.249.27</param-value>-->
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>dbName</param-name>
			<param-value>scribe</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>matte</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>seek2cat</param-value>
		</init-param>
    </servlet>
	<servlet-mapping>
		<servlet-name>UtentiServlet</servlet-name>
		<url-pattern>/utenti</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>RazzeServlet</display-name>
		<servlet-name>RazzeServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servletdb.servlet.RazzeServlet</servlet-class>
		<init-param>
			<param-name>ip</param-name>
			<param-value>172.20.240.1</param-value>
			<!--<param-value>100.102.249.27</param-value>-->
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>dbName</param-name>
			<param-value>scribe</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>matte</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>seek2cat</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>RazzeServlet</servlet-name>
		<url-pattern>/razze</url-pattern>
	</servlet-mapping>
	
	<!--servlet>
		<description></description>
		<display-name>OggettiServlet</display-name>
		<servlet-name>OggettiServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servletdb.servlet.OggettiServlet</servlet-class>
		<init-param>
			<param-name>ip</param-name>
			<param-value>192.168.1.70</param-value>
			<param-value>100.102.249.27</param-value>
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>dbName</param-name>
			<param-value>scribe</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>matte</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>seek2cat</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>OggettiServlet</servlet-name>
		<url-pattern>/oggetti</url-pattern>
	</servlet-mapping>-->
	
	<servlet>
		<description></description>
		<display-name>CampagneServlet</display-name>
		<servlet-name>CampagneServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servletdb.servlet.CampagneServlet</servlet-class>
		<init-param>
			<param-name>ip</param-name>
			<param-value>172.20.240.1</param-value>
			<!--<param-value>100.102.249.27</param-value>--> 
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>dbName</param-name>
			<param-value>scribe</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>matte</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>seek2cat</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CampagneServlet</servlet-name>
		<url-pattern>/campagne</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>SchedeServlet</display-name>
		<servlet-name>SchedeServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servletdb.servlet.SchedeServlet</servlet-class>
		<init-param>
			<param-name>ip</param-name>
			<param-value>172.20.240.1</param-value>
			<!--<param-value>100.102.249.27</param-value>--> 
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>dbName</param-name>
			<param-value>scribe</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>matte</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>seek2cat</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SchedeServlet</servlet-name>
		<url-pattern>/schede</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>NotificheServlet</display-name>
		<servlet-name>NotificheServlet</servlet-name>
		<servlet-class>it.uniroma2.pjdm.servletdb.servlet.NotificheServlet</servlet-class>
		<init-param>
			<param-name>ip</param-name>
			<param-value>172.20.240.1</param-value>
			<!--<param-value>100.102.249.27</param-value>--> 
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>3306</param-value>
		</init-param>
		<init-param>
			<param-name>dbName</param-name>
			<param-value>scribe</param-value>
		</init-param>
		<init-param>
			<param-name>userName</param-name>
			<param-value>matte</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>seek2cat</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>NotificheServlet</servlet-name>
		<url-pattern>/notifiche</url-pattern>
	</servlet-mapping>
	
</web-app>